@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&family=Rubik:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;

  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 16px;
  margin-top: 40px;
}

.calculator {
  margin: 0 auto;
  padding: 10px;
  max-width: 600px;
}

.calc-container {
  background-color: #1d1d1d;
  height: auto;

  border-radius: 0 0 30px 30px;
  border: 1px solid black;
}

.output {
  width: 100%;
}

.operation {
  height: 70px;

  color: #878787;

  font-size: 1.9em;
  font-weight: bold;

  position: relative;
  overflow: hidden;
}
.operation .value {
  position: absolute;

  bottom: 5px;
  right: 10px;

  white-space: nowrap;
  overflow: hidden;
}

.result {
  height: 140px;

  color: #fff;

  font-size: 2.6em;
  font-weight: bold;

  overflow: hidden;
  position: relative;
}

.result .value {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
  right: 10px;

  white-space: nowrap;
  overflow: hidden;
}

.input {
  background-color: #fff;

  height: 400px;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row button {
  width: 70px;
  height: 70px;
  margin: 5px;
  font-size: 1.5em;

  border-radius: 20%;

  cursor: pointer;
}

.row button:hover {
  font-weight: bold;
}

.row #calculate {
  color: #fff;
  background-color: #46e0bc;
  width: 140px;
}
.row #delete {
  color: #fff;
  background-color: #e05046;
}

#division,
#multiplication,
#subtraction,
#addition {
  color: #18b893;
}

.input button span {
  font-size: 0.6em;
  position: absolute;
}

.active-angle {
  background-color: #1d1d1d !important;
  color: #fff !important;
  border-radius: 10px !important;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }

  .row button {
    width: 50px;
    height: 50px;
  }
  .input {
    height: 310px;
  }
  .output {
    height: 120px;
  }
  .operation {
    height: 40px;
    padding-top: 20px;
  }
  .result {
    height: 60px;
  }
  .row #calculate {
    width: 70px;
  }
}
